@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>


<br>
<div class="col-md-4">
    <h4>Trish Delozier</h4> <br />
    <img src="~/Images/Trish.jpg" /><br />
    Connect: <a href="https://www.linkedin.com/profile/view?id=359308183&authType=name&authToken=1mEq&locale=en_US&pvs=pp&trk=ppro_viewmore"><img src="~/Images/linkedin.png" /></a>
</div>
<div class="col-md-4">
    <h4>Tyrone Rogers </h4><br />
    <img src="~/Images/Tyrone.jpg" /><br />
    Connect: <a href="https://www.linkedin.com/profile/view?id=362199861&authType=OUT_OF_NETWORK&authToken=4tEz&locale=en_US&trk=tyah2&trkInfo=tarId%3A1408117099792%2Ctas%3Atyro%2Cidx%3A1-4-4"><img src="~/Images/linkedin.png" /></a>
</div>
<div class="col-md-4">
    <h4>Garnett Sims</h4><br />
<img src="~/Images/Garnett.jpg" /><br />
Connect: <a href="https://www.linkedin.com/profile/view?id=362110092&authType=OUT_OF_NETWORK&authToken=RL8H&locale=en_US&trk=tyah2&trkInfo=tarId%3A1408116987922%2Ctas%3Agarne%2Cidx%3A1-1-1"><img src="~/Images/linkedin.png" /></a>
 </div>
<br />
<br />
<br />
