@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center>
        <h3>Welcome to the TourGuide Inc. Web Application.</h3>
 @*       <p class="lead">Welcome to the TourGuide Inc. Web Application. <br /> Where you can find hotels and restaurants located in different cities.</p>*@
        <p class="lead">Where you can find hotels and restaurants located in different cities.</p>
    </center>
</div>

