@using System.Web.Mvc;
@{
    ViewBag.Title = "Tour Guide Inc.";
}
<style>
    .carousel slide{
       height: 400px;
       width: 800px;
    }
    
</style>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        <li data-target="#carousel-example-generic" data-slide-to="5"></li>
    </ol>

    <!-- Slider Content (Wrapper for slides )-->
    <div class="carousel-inner">
        <div class="item active">
            <img align="middle" src="~/Images/hotel.jpg" alt="Hotel Room"/>
                <div class="carousel-caption">
                </div>
            </div>
        <div class="item">
            <img align="middle" src="~/Images/pool.jpg" alt="Pool" />
        </div> 
        <div class="item">
            <img align="middle" src="~/Images/dinner.jpg" alt="Restaurant" />
        </div>
        <div class="item">
            <img align="middle" src="~/Images/losangeles.jpg" alt="Los Angeles" />
        </div> 
        <div class="item">
            <img align="middle" src="~/Images/room.jpg" alt="Hotel Room" />
        </div>
        <div class="item">
            <img align="middle" src="~/Images/icebar.jpg" alt="Restaurant" />
        </div> 
       </div>
       

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
    </div>

<center>
        <h2>Welcome to Tour Guide Inc.</h2>
    <h4>The place where you can find the most popular <br/> hotels and restaurants in your favorite vaction spots</h4>
</center>

<div class="blockquote-reverse">
    <p class="lead">Connect with us:</p>
    <a href="https://www.facebook.com/ExperienceITDetroit"><img src="~/Images/facebook.png" /></a>
    <a href="https://groups.google.com/forum/#!forum/experienceit2014"><img src="~/Images/google.png" /></a>
    <a href="https://www.linkedin.com/company/grand-circus"><img src="~/Images/linkedin.png" /></a>
    <a href="https://twitter.com/GrandCircusCo"><img src="~/Images/twitter.png"/></a>
       </div>
