@using System.Web.Mvc;
@{
    ViewBag.Title = "Home Page";
}
<style>
    .carousel slide{
       height: 400px;
       width: 800px;
    }
    
</style>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Slider Content (Wrapper for slides )-->
    <div class="carousel-inner">
        <div class="item active">
            <img align="middle" src="~/Images/detroit.jpg" alt="Detroit"/>
            <div class="carousel-caption">
                ...
            </div>
        </div>
        ...
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
<div class="jumbotron">
    <center>
        <h3>Welcome to the TourGuide Inc. Web Application.</h3>
 @*       <p class="lead">Welcome to the TourGuide Inc. Web Application. <br /> Where you can find hotels and restaurants located in different cities.</p>*@
        <p class="lead">Where you can find hotels and restaurants located in different cities.</p>
    </center>
</div>
